<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantillas/plantilla_header_footer.html :: head">
</head>

<body>

	<!-- Navigation -->
	<header th:replace="plantillas/plantilla_header_footer.html :: header"></header>

	<div class="eva-left">
		<div class="eva-right">
			<!-- Page Content -->
			<div class="container">


				<h1 class="mt-4 mb-3">
					Tienda Online <small>Editar perfil</small>
				</h1>

				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item"><a
						th:href="@{/usuario/detalle_perfil/}+${usuario.id}">Detalle</a></li>
					<li class="breadcrumb-item active">Perfil</li>
				</ol>

				<div class="d-flex justify-content-center align-self-center">

					<div class="card mb-3" style="width: 34rem;">
						<div class="card-header bg-dark text-light text-center">
							<h2>[[${#httpServletRequest.remoteUser}]]</h2>
						</div>
						<div class="card-body">

							<form th:action="@{/usuario/detalle_perfil/update}" method="post">
								<input type="hidden" name="id" th:value="${usuario.id}">
								<div class="form-group">
									<label for="email" class="form-label font-weight-bold">Email:</label>
									<input type="text" class="form-control" id="email" name="email"
										required th:value="${usuario.email}">
								</div>
								<div class="form-group">
									<label for="password" class="form-label font-weight-bold">Password:</label><br>
									<small class="text-info font-italic">Puede borrar el
										campo, escribir otra contraseña y el programa volverá a
										encriptarla.</small> <input type="text" class="form-control"
										id="password" name="password" th:value="${usuario.password}"
										onclick="if(this.value!=null) this.value=''">
								</div>
								<div class="form-group">
									<label for="nombre" class="form-label font-weight-bold">Nombre:</label>
									<input type="text" class="form-control" id="nombre"
										name="nombre" required th:value="${usuario.nombre}">
								</div>
								<div class="form-group">
									<label for="apellido1" class="form-label font-weight-bold">Primer
										apellido:</label> <input type="text" class="form-control"
										id="apellido1" name="apellido1" required
										th:value="${usuario.apellido1}">
								</div>
								<div class="form-group">
									<label for="apellido2" class="form-label font-weight-bold">Segundo
										apellido:</label> <input type="text" class="form-control"
										id="apellido2" name="apellido2" required
										th:value="${usuario.apellido2}">
								</div>
								<div class="form-group">
									<label for="direccion" class="form-label font-weight-bold">Dirección:</label>
									<input type="text" class="form-control" id="direccion"
										name="direccion" required th:value="${usuario.direccion}">
								</div>
								<div class="form-group">
									<label for="localidad" class="form-label font-weight-bold">Localidad:</label>
									<input type="text" class="form-control" id="localidad"
										name="localidad" required th:value="${usuario.localidad}">
								</div>
								<div class="form-group">
									<label for="provincia" class="form-label font-weight-bold">Provincia:</label>
									<input type="text" class="form-control" id="provincia"
										name="provincia" required th:value="${usuario.provincia}">
								</div>
								<div class="form-group">
									<label for="telefono" class="form-label font-weight-bold">Teléfono:</label>
									<input type="text" class="form-control" id="telefono"
										name="telefono" required th:value="${usuario.telefono}">
								</div>
								<div class="form-group">
									<label for="dni" class="form-label font-weight-bold">DNI:</label>
									<input type="text" class="form-control" id="dni" name="dni"
										required th:value="${usuario.dni}">
								</div>
								<div class="form-group">
									<label for="tipo" class="form-label font-weight-bold">Tipo:</label>
									<input type="text" class="form-control" id="tipo" name="tipo"
										th:value="${usuario.tipo}" readonly="readonly">
								</div>

								<div class="card-footer text-center">
									<button type="submit" class="btn btn-success">Guardar</button>
									<a type="button" class="btn btn-outline-danger"
										th:href="@{/administrador/detalle_perfil/}+${usuario.id}">Cancelar</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<!-- Footer -->
	<footer th:replace="plantillas/plantilla_header_footer.html :: footer"></footer>

</body>

</html>

