<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantillas/plantilla_header_footer.html :: head">
</head>

<body>

	<!-- Navigation -->
	<!-- <div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}"></div>
  
  <div th:include="usuario/template_usuario.html::header-user" th:unless="${sesion==null}"></div> -->
	<header th:replace="plantillas/plantilla_header_footer.html :: header"></header>


	<!-- Page Content -->
	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-3 text-center text-success">
			<h3>¡¡¡ Bienvenid@ a la Tienda Online de Enrique Pajares !!!</h3>
			<span>Tu tienda experta en tecnología</span>
		</header>

		<form action="#" method="get">
			<div class="form-group row d-flex justify-content-end">
				<label class="col-form-label font-weight-bold" for="categoria">Categoría:</label>
				<div class="col-sm-3">				
					<select class="form-control" id="categoria" name="categoria"
						th:value="${categoria}">
						<option selected>Seleccione categoría...</option>
						<option th:value="portatiles">Portátiles</option>
						<option th:value="torres">Torres</option>
						<option th:value="monitores">Monitores</option>
						<option th:value="teclados">Teclados</option>
						<option th:value="ratones">Ratones</option>
						<option th:value="auriculares">Auriculares</option>
						<option th:value="otros">Otros</option>
					</select>
				</div>
			</div>
		</form>

		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4"
				th:each="producto:${listaProductos}">
				<div class="card h-100">
					<img class="card-img-top" th:src="@{/images/} + ${producto.imagen}"
						alt="imagen">
					<div class="card-body">
						<p class="card-text" th:text="${producto.nombre}"></p>
					</div>
					<div class="card-footer">
						<a th:href="@{/producto_home/} + ${producto.id}"
							class="btn btn-outline-info">Ver producto</a>
						<hr>
						<form th:action="@{/cart}" method="POST">	
							<input type="hidden" th:value="${producto.id}" name="id">
							<input type="hidden" id="stock" name="stock" th:value="${producto.stock}">
							<button type="submit" th:href="@{/cart/} + ${producto.id}"
							class="btn btn-success" th:if="${session.idUsuario} != 1">Añadir al carrito</button>
						</form>	
							
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->
		<!-- <div class="d-flex justify-content-center">
			<nav aria-label="pagination">
				<ul class="pagination">
					<li class="page-item disabled"><span class="page-link">Anterior</span>
					</li>
					
					<li class="page-item active" aria-current="page"><span
						class="page-link"> 1 <span class="sr-only">(current)</span>
					</span></li>
					
					<li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
				</ul>
			</nav>
		</div> -->
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<!-- <div th:include="usuario/template_usuario.html::footer"></div> -->
	<footer th:replace="plantillas/plantilla_header_footer.html :: footer"></footer>
</body>

</html>
