<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="plantillas/plantilla_header_footer.html :: head">
</head>

<body>

	<!-- Navigation -->
	<header th:replace="plantillas/plantilla_header_footer.html :: header"></header>

	<!-- Mensajes flash -->
	<div class="alert alert-success alert-dismissible fade show"
		role="alert" th:if="${productoGuardado != null}">
		<label th:text="${productoGuardado}"></label>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true"><i class="bi bi-x-circle-fill"></i></span>
		</button>
	</div>

	<div class="alert alert-warning alert-dismissible fade show"
		role="alert" th:if="${productoEditado != null}">
		<label th:text="${productoEditado}"></label>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true"><i class="bi bi-x-circle-fill"></i></span>
		</button>
	</div>

	<div class="alert alert-danger alert-dismissible fade show"
		role="alert" th:if="${productoEliminado != null}">
		<label th:text="${productoEliminado}"></label>
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true"><i class="bi bi-x-circle-fill"></i></span>
		</button>
	</div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3 d-flex justify-content-between align-self-center">
			<span>Productos</span>
				<span><a class="btn btn-primary"
				th:href="@{/productos/create}"><i class="bi bi-mouse2-fill"></i> Crear producto</a></span>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item active">Ver productos</li>
		</ol>


		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<table class="table table-hover text-center">
							<thead>
								<tr>
									<th scope="col">Nombre</th>
									<th scope="col">Categoría</th>
									<th scope="col">Descripción</th>
									<th scope="col">Stock</th>
									<th scope="col">Precio</th>
									<th scope="col">Fecha</th>
									<th scope="col">Editar</th>
									<th scope="col">Eliminar</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="producto:${listaProductos}">
									<td th:text="${producto.nombre}"></td>
									<td th:text="${producto.categoria}"></td>
									<td th:text="${producto.descripcion}"></td>
									<td th:text="${producto.stock}"></td>
									<td th:text="${producto.precio}"></td>
									<td th:text="${producto.fechaAlta}"></td>
									<td sec:authorize="hasRole('ADMIN')"><a
										class="btn btn-warning"
										th:href="@{productos/edit/} + ${producto.id}"><i class="bi bi-pencil-square"></i> Editar</a></td>
									<td sec:authorize="hasRole('ADMIN')"><a
										class="btn btn-danger"
										th:href="@{productos/delete/} + ${producto.id}"
										onclick="return confirm('¿Está seguro de eliminar?');"><i class="bi bi-trash"></i> Eliminar</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<!-- Footer -->
	<footer th:replace="plantillas/plantilla_header_footer.html :: footer"></footer>

</body>

</html>
