<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantillas/plantilla_header_footer.html :: head">
</head>

<body>

	<!-- Navigation -->
	<header th:replace="plantillas/plantilla_header_footer.html :: header"></header>

	<div class="eva-left">
		<div class="eva-right">
			<!-- Page Content -->
			<div class="container">

				<!-- Jumbotron Header -->
				<header class="jumbotron mt-4 p-3 text-center text-success">
					<h3>¡¡¡ Bienvenid@ a la Tienda Online de Enrique Pajares !!!</h3>
					<span>Tu tienda experta en tecnología</span>
				</header>

				<form th:action="@{/search_category}" method="post" id="categoria">
					<div class="form-group row d-flex justify-content-end">
						<label class="col-form-label font-weight-bold" for="categoria">Seleccione
							categoría:</label>
						<div class="col-sm-2">
							<select class="form-control" name="categoria">
								<option th:value="todas" selected>Todas</option>
								<option th:value="portatiles">Portátiles</option>
								<option th:value="torres">Torres</option>
								<option th:value="monitores">Monitores</option>
								<option th:value="teclados">Teclados</option>
								<option th:value="ratones">Ratones</option>
								<option th:value="auriculares">Auriculares</option>
								<option th:value="otros">Otros</option>
							</select>
						</div>
						<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Buscar</button>
					</div>
				</form>


				<!-- Page Features -->
				<div class="row text-center">

					<div class="col-lg-3 col-md-6 mb-4"
						th:each="producto:${listaProductos}">
						<div class="card h-100">
							<img class="card-img-top"
								th:src="@{/images/} + ${producto.imagen}" alt="imagen">
							<div class="card-body">
								<p class="card-text" th:text="${producto.nombre}"></p>
							</div>
							<div class="card-footer">
								<a th:href="@{/producto_home/} + ${producto.id}"
									class="btn btn-outline-info">Ver producto</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer th:replace="plantillas/plantilla_header_footer.html :: footer"></footer>

</body>

</html>
