<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantillas/plantilla_header_footer.html :: head">
</head>

<body>

  <!-- Navigation -->
  <!-- <div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}"></div>
  
  	<div th:include="usuario/template_usuario.html::header-user" th:unless="${sesion==null}"></div> -->
  <header th:replace="plantillas/plantilla_header_footer.html :: header"></header>

    <!-- Page Content -->
    <div class="container">


      <h1 class="mt-4 mb-3">
        Tienda Online <small>Perfil</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/administrador}">Home</a></li>
        <li class="breadcrumb-item active">Perfil</li>
      </ol>

	  
	  <!-- <div class="container">
	  	<a class="btn btn-danger justify-content-end" th:href="@{/usuario/exportarFacturaPDF}+${pedido.id}">Exportar factura a PDF</a>
	  </div><br>	 -->

      
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Tipo</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>                  
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido 1</th>
                  <th scope="col">Apellido 2</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Localidad</th> 
                  <th scope="col">Provincia</th>
                  <th scope="col">Teléfono</th> 
                  <th scope="col">DNI</th>             
                </tr>
              </thead>
              <tbody>
                <tr th:each="usuario:${usuarioLoggeado}">
                  <td th:text="${usuario.tipo}"></td>
                  <td th:text="${usuario.email}"></td>
                  <td th:text="${usuario.password}"></td>
                  <td th:text="${usuario.nombre}"></td>
                  <td th:text="${usuario.apellido1}"></td>
                  <td th:text="${usuario.apellido2}"></td>
                  <td th:text="${usuario.direccion}"></td>
                  <td th:text="${usuario.localidad}"></td>
                  <td th:text="${usuario.provincia}"></td>
                  <td th:text="${usuario.telefono}"></td>
                  <td th:text="${usuario.dni}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

 <!-- Footer -->
 <footer th:replace="plantillas/plantilla_header_footer.html :: footer"></footer>
	<!-- <div th:include="usuario/template_usuario.html::footer"></div>

	Bootstrap core JavaScript
	<script th:src="@{/jquery/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script> -->
	<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->

</body>

</html>

