/* .big-banner{
	background-image: url('../images/robot_doble_bajo.png');
	margin-top: 30px;
	padding-bottom: 200px;
	background-size: 1650px;
	background-position: top;
	background-repeat: no-repeat;	
} */

.eva-right{
	background-image: url('../images/eva.gif');
	margin-top: 30px;
	background-size: 250px;
	background-position: right;
	background-repeat: repeat-y;
	
}
.eva-left{
	background-image: url('../images/eva.gif');
	margin-top: 30px;
	background-size: 250px;
	background-position: left;
	background-repeat: repeat-y;
}
.dino{
	background-image: url('../images/dino_google.gif');
	/* margin-top: 30px; */
	background-size: 200px;
	background-position: inherit;
	background-repeat: no-repeat;
}

/* .big-banner{
	background-image: url('../images/matrixg.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/rosesun.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/matrixcuadrado.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/matrixcuadradop.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/matrixp.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */