/* .big-banner{
	background-image: url('../images/robot.jpg');
	margin-top: -50px;
	padding-bottom: 200px;
	background-size: 400px;
	background-position: right;
	background-repeat: repeat-y;
} */

/* .big-banner{
	background-image: url('../images/matrixg.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/rosesun.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/matrixcuadrado.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/matrixcuadradop.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */

/* .big-banner{
	background-image: url('../images/matrixp.gif');
	margin-top: -56px;
	padding-bottom: 200px;
	background-size: contain; 
	background-repeat: repeat;	
} */